.test-text {
  margin-left: 15px;
  overflow-wrap: break-word;
  background-color: lightblue;
  height: 200px;
  width: 200px;
}
// .homepage-container {
//   overflow: hidden;
//   height: 100vh;
//   .homepage-left-section {
//     height: 100vh;
//     background-color: lightblue;
//   }
//   .homepage-right-section {
//     height: 100vh;
//     background-color: lightpink;
//   }
// }
